html, body {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.full_height {
    height: 100%;
}

.background {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: -1;
}



.navigation {
    top: 0; bottom: 0;
    width: 100%;
    padding: 40px;
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
}

.login {
    top: 50%;
    margin-top: -175px;
}

.page {
    margin: 20px;
    padding: 40px;
    overflow-x: auto;
}

.loading {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    text-align: center;
    vertical-align: middle;
    padding: 40px;
}

.error {
    color: #e74c3c;
}



@media (min-width: 768px) {

}

@media (min-width: 992px) {
    .navigation {
        position: fixed;
        width: 270px;
    }
    
    .page {
        position: absolute;
        top: 20px; left: 290px; right: 20px;
        margin: auto;
    }
}